name: Pylint

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: |
        pip install pylint fastapi uvicorn requests
    - name: Run Pylint
      run: |
        pylint --disable=C0114,C0115,C0116,R0903 *.py || true
